body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert:empty {
  display: none;
}

.spinner {
  height: 20px;
  background: url("/img/spinner.gif") center center no-repeat; 
  background-size: 20px
}

#book-block-prototype {
  display: none;
}

.div {
  text-align: left;
}
b {
  color:#779900;
}
.round {
  border:solid;
  border-radius: 10px;
  width: 160px;
}
.comments-margin {
  margin-left: 7%;
}
.addmarg {
  margin-left: 100px;
}
._addmarg {
  margin-left: 60px;
}
.date {
  margin-left: 100px;
  width: 100px;
  /*border: solid;*/
  /*border-color: #000000;*/
  height: 30px;
}
.edit_button {

}

.edit_area {

}
.mybutton {
  border: none;
  background-color:white;
  width: 180px;
  text-align: left;
  padding-left: 20px;
}
.mybutton:hover {
  border: none;
  background-color:lightgray;
}